In [1]:
import sqlparse

In [2]:
sql_1 = "SELECT id, age, gender FROM hoge_tableÂ WHERE age > 10;"

In [3]:
parsed_queries = sqlparse.parse(sql_1)
parsed_query = parsed_queries[0]
list(parsed_query.flatten())

[<DML 'SELECT' at 0x1055F93A8>,
 <Whitespace ' ' at 0x1055F9468>,
 <Name 'id' at 0x1055F94C8>,
 <Punctuation ',' at 0x1055F9528>,
 <Whitespace ' ' at 0x1055F9588>,
 <Name 'age' at 0x1055F95E8>,
 <Punctuation ',' at 0x1055F9648>,
 <Whitespace ' ' at 0x1055F96A8>,
 <Name 'gender' at 0x1055F9708>,
 <Whitespace ' ' at 0x1055F9768>,
 <Keyword 'FROM' at 0x1055F97C8>,
 <Whitespace ' ' at 0x1055F9828>,
 <Name 'hoge_t...' at 0x1055F9888>,
 <Whitespace ' ' at 0x1055F98E8>,
 <Keyword 'WHERE' at 0x1055F9948>,
 <Whitespace ' ' at 0x1055F99A8>,
 <Name 'age' at 0x1055F9A08>,
 <Whitespace ' ' at 0x1055F9A68>,
 <Comparison '>' at 0x1055F9AC8>,
 <Whitespace ' ' at 0x1055F9B28>,
 <Integer '10' at 0x1055F9B88>,
 <Punctuation ';' at 0x1055F9BE8>]

In [4]:
sql_2 = """
-- hoge
SELECT hoge FROM t1;
-- fuga
SELECT fuga FROM t2;
-- piyo
SELECT piyo FROM t3;"""

In [5]:
sqlparse.parse(sql_2)

(<Statement ' -- ho...' at 0x1055D19A8>,
 <Statement ' -- fu...' at 0x1055D1C00>,
 <Statement ' -- pi...' at 0x1055D1A20>)